<div id="profile_wrapper" class="container-fluid">
<div id="general" class="panel panel-default col-md-6">
  <div class="panel-heading">
      <h3>D-Roll.com</h3>
  </div>
  <div class="panel-body">

  
    <p>D-roll.com is an attempt to make it easier for tabletop rpg players to manage characters and play when they don't have dice handy. Most other elements of a game
      can eaily be run from a laptop or phone. This is an attempt to make those games more portable and accessible. 
    </p>
    <h5>Technologies used</h5>
    <ul>
      <li>AngularJs </li>
      <li>Express</li>
      <li>Node</li>
      <li>MongoDB</li>
      <li>Twitter Bootstrap</li>

    </ul>
    <p>This is a full MEAN application, my goal was to make an intuivie system that would utilize client side processing as much as possible. The code can be seen on my github. </p>
  </div>
</div>


<div id="evan" class="panel panel-default col-md-6">
  <div class="panel-heading">
      <h3>Evan Rice</h3>
      

  </div>
  <div class="panel-body">

  
    <P>Hi all, I'm the programmer for this website </P>
    <p>I programmed all of the back end logic and crud applications for this site and used twitter bootstrap to make it mobile compatible and make the UI more intuitive.</p>
    <p> I am a full stack developer based out of Bellevue, Washington. I graduated from the United States Coast Guard Academy in 2012 with a degree in Mechanical Engineering. 
      I recently transitioned out of the Coast Guard in order to pursue a career in software and web development. </p>
  
    
    <p>My Contact Info/socials</p>
    <ul>
      <li><a href="mailto:evan@d-roll.com">evan@d-roll.com</a></li>
      <li><a href="https://github.com/Vargron">Github</a></li>
      <li><a href="https://linkedin.com/in/evanricedev/">Linkedin</a> </li>
    </ul>

  </div>
</div>



</div>
