<div id="profile_wrapper" class="container-fluid">
<div id="general" class="panel panel-default col-md-6">
  <div class="panel-heading">
      <h3>Freediceroller.com</h3>
  </div>
  <div class="panel-body">

  
    <p>Freediceroller.com is an attempt to make it easier for tabletop rpg players to manage characters and play when they don't have dice handy. Most other elements of a game
      can eaily be run from a laptop, this is an attempt to make table-top games more portable.
    </p>
    <h5>Technologies used</h5>
    <ul>
      <li>AngularJs </li>
      <li>Express</li>
      <li>Node</li>
      <li>MongoDB</li>
      <li>Twitter Bootstrap</li>

    </ul>
  </div>
</div>


<div id="evan" class="panel panel-default col-md-6">
  <div class="panel-heading">
      <h3>Evan Rice</h3>
      

  </div>
  <div class="panel-body">

  

    <p>I programmed all of the back end logic and crud applications for this site and used twitter bootstrap to make it look professional.</p>
    <p> I am a full stack developer based out of Bellevue, Washington. I graduated from the United States Coast Guard Academy in 2012 with a degree in mechanical engineering. 
      I recently transitioned out of the Coast Guard in order to pursue a career in software and web development.</p>
      
    <p>I am on github as <a href="https://github.com/Vargron">Vargron</a> and can be reached by emailing <a href="mailto:evan@freediceroller.com">evan@freediceroller.com</a></p>
  </div>
</div>



</div>
