<div id="profile_wrapper">
<div id="general">
  <h3>Freediceroller.com</h3>
  <p>Freediceroller.com is an attempt to make it easier for tabletop rpg players to manage characters and play when they don't have dice handy. Most other elements of a game
    can eaily be run from a laptop, this is an attempt to make table-top games more portable.
  </p>
</div>


<div id="evan">
  <h3>Evan Rice</h3>
  <h5>Lead developer</h5>
  <p>Evan programmed all of the back end logic and crud applications for this site.</p>
  <p>Evan is a full stack developer based out of Bellevue, Washington. He graduated from the United States Coast Guard Academy in 2012 with a degree in mechanical engineering. 
    he recently transitioned out of the Coast Guard in order to pursue a carrer in software and web development.</p>
    
  <p>He is on github as <a href="https://github.com/Vargron">Vargron</a> and can be reached by emailing <a href="mailto:evan@freediceroller.com">evan@freediceroller.com</a></p>
</div>

<div id="franz">
  <h3>Franz Jacob Hernandez</h3>
  <h5> Lead Designer</h5>
  <p> Franz coded all of the layout and presentation elements of the site.</p>

</div>

</div>
