<div id="primewrapper">


<div id="header" class="jumbotron">
 <h1 align="center">D-ROLL.COM</h1>
    <div align="center">


        <div class="btn-group" >
        
            <ng-container *ngIf="!current_user.username">
                    <button (click)="sendtologin()" class="btn btn-primary"> Main</button>
                    <button [routerLink]="['login']" class="btn btn-primary">Login/Register</button>
            </ng-container>
            <ng-container *ngIf="current_user">
                    <ng-container *ngIf="current_user.admin" >
                        <button (click)="sendtousermanager()" class="btn btn-primary"> Admin Go To Usermanager</button>
                        <button (click)="show_products_manager()" class="btn btn-primary"> Admin Go to Products manager</button>
                    </ng-container>
                    <ng-container *ngIf="current_user.username">
                            <button [routerLink]="['home']" class="btn btn-primary">Home</button>
                            <button (click)="logout()" class="btn btn-primary"> Logout</button>
                            <button (click)="change_password()" class="btn btn-primary">Change Password</button>
                    </ng-container>
            </ng-container>
            <button (click)="show_about_us()" class="btn btn-primary"> About Us</button>
            <ng-container *ngIf="all_products.length!=0">
                <button (click)="show_products()" class="btn btn-primary">Cool Roleplaying Products </button>
            </ng-container>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<div id="footer" class="panel panel-default col-md-12" align="center">
        <div class="panel-body">

        
        <h3>Questions? contact info@D-roll.com</h3>
        </div>
</div>
</div>
