<!--The content below is only a placeholder and can be replaced.-->
<div id="header">
 <h1>Freediceroller.com</h1>

 <div>
   
     <ng-container *ngIf="!current_user.username">
            <button (click)="sendtologin()"> Main</button>
            <button [routerLink]="['login']">Login</button>
     </ng-container>
     <ng-container *ngIf="current_user">
            <ng-container *ngIf="current_user.admin" >
                <button (click)="sendtousermanager()"> Admin Go To Usermanager</button>
            
            </ng-container>
            <ng-container *ngIf="current_user.username">
                    <button [routerLink]="['home']">Home</button>
                    <button (click)="logout()"> Logout</button>
            </ng-container>
                

     </ng-container>
     <button (click)="show_about_us()"> About Us</button>

    

     


 </div>
 
</div>
<router-outlet></router-outlet>
<div id="footer">
    <p>for any questions contact info@freediceroller.com</p>
</div>
