<div class="panel panel-default">
<div class="panel panel-heading">
  <h3>Please Verify your Account</h3>

</div>
<div *ngIf="!editunlocked" class="panel-body">


<form>
  <label for="username" class="control-label">Verify Username </label>
  <input type="text" name="username" [(ngModel)]="vuser.username" class="form-control"
  id="username"
  >
  <label for="upword"class="control-label">Verify Password</label>
  <input type="password" name="password" [(ngModel)]="vuser.password"
  class="form-control"
  id="upword"
  
  >
  <button (click)="verify_user()">Verify Account! </button>

</form>


<div *ngIf="failedaccountedit" class="alert alert-danger" role="alert">
  <button (click)="close_failed_edit()"> X</button>
  <h3> Verification Failed: Please Try Again</h3>

</div>
</div>


<div *ngIf="editunlocked" >
  <div class =" panel-heading">
      <h3>Enter New Password</h3>
  </div>
    
  <div class="panel-body">

  
    <form>
      <div class="form-group">
              
        <label class="control-label">Username:{{current_user.username}}(not editable)</label><br>
    
        <label class="control-label">Email:{{current_user.email}} (not editable)</label><br>

      
        
        <label for="pword" class="control-label">New Password:</label>
        <input type="password" name="password" 
        [(ngModel)]="password_box.password"
        class="form-control"
        id="pword"
        >
        <label for="pwordc" class="control-label"  >new password confirm:</label>
        <input type="password" name="password_conf" 
        [(ngModel)]="password_box.password_conf"
        class="form-control"
        id="pwordc"
        >

        

        <button (click)="execute_edit()" class="btn btn-primary">submit changes...</button>
        

      </div>

  
    </form>
  </div>
  

  
  </div>
</div>