<div id="character-details">


    <h1>{{current_character.name}}'s Profile</h1>
    <ng-container *ngIf="editing_cur_character">
        
          <input type="text" name="name"
          [(ngModel)]="current_character.name"
          >
    </ng-container>
    <span>{{current_character.desc}}</span>
    <ng-container *ngIf="editing_cur_character">
      
          <input type="text" name="desc"
          [(ngModel)]="current_character.desc"
          >
          <button (click)="submit_edit_character()"> submit edit</button>

  </ng-container><br>
  <ng-container *ngIf="!editing_cur_character">
      <button (click)="toggle_edit_character()">Edit Character Details</button>
  </ng-container>

    

</div>

<div id="char-roll-manager">

  <div id="char-roll-form">

    
    <h3>Add a roll:</h3>
    <form>
      <label>Roll Name:</label>
      <input type=text name="name"
      [(ngModel)]="new_roll.name"
      
      >
      <br>
      <label>Dice String:</label>
      <input type=text name="rollstring"
      [(ngModel)]="new_roll.rollstring"
      >
      <br>
      <button (click)="addroll()">add roll</button>
    </form>
  </div>


  <table>
    <tr>
        <th>Name</th>
        <th>Dice</th>
        <th>Roll</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Up one </th>
        <th>Down one</th>

    </tr>
    <tr *ngFor="let r of current_character.rolls">
      <ng-container *ngIf="r!=edit_roll_target" >
      <td>{{r.name}}</td>
      <td>{{r.rollstring}}</td>
      
      <td><button (click)="execute_roll(r)">roll</button></td>
      <td><button (click)="show_roll_edit(r)">edit</button></td>
      <td><button (click)="delete_roll(r)"> delete</button></td>
      <td><button (click)="move_roll_up(r)"> move up</button></td>
      <td><button (click)="move_roll_down(r)"> move down</button></td>
      </ng-container>

      <ng-container *ngIf="r==edit_roll_target">
        
        
          <td>
              <input type="text" name="name"
              [(ngModel)]="edit_roll_target.name"
              
              >
          </td>
          <td>
              <input type="text" name="rollstring"
              [(ngModel)]="edit_roll_target.rollstring"
              
              >
          </td>
          <td>
            <button (click)="submit_roll_edit()">submit roll edit</button>
          </td>

        
        <td><button (click)="cancel_roll_edit()">cancel</button></td>
      </ng-container>

    </tr>


  </table>
</div>

<div id="character_roll_log">
  <h3>roll log:</h3>

  
  <p *ngFor="let r of char_roll_log"> Your used {{r.name}} on {{r.rollstring}} and got a {{r.result}} </p>
 
</div>



