<div class="continer-fluid">

  <div id="register" class=" panel panel-default col-sm-6" align="left" >

    <div class="panel-heading">
    <h1>Register:</h1>
    </div>
    <form >
        <div class="form-group" >
          <label for="rusername" class="control-label">Username:</label>
          <input type="text" name="username"
          [(ngModel)]="registerUser.username"
          class="form-control" id="rusername"
          >
        </div>
        <div class="form-group" >

          <label for="remail" class="control-label"> Email:</label>
          <input type="text" name="email"
          [(ngModel)]="registerUser.email"
          class="form-control" id="remail"
          >
        </div>
        <div class="form-group" >
          <label for="rpassword" class="control-label">Password:</label>
          <input type="password" name="password"
          [(ngModel)]="registerUser.password"
          class="form-control" id="rpassword"
          >
        </div>
        <div class="form-group">
          <label for="rpasswordcon" class="control-label">Password Confirm:</label>
          <input type="password" name="passwordcon"
          [(ngModel)]="registerUser.passwordcon"
          class="form-control" id="rpasswordcon"
          > 
        </div>
        <div class="form-group">
          

          <button (click)="register()">register!</button>
        </div>
    </form>
    <div *ngIf="registererrors.length>0"  role="alert" class="alert alert-danger">
        <button (click)="clear_reg_errors()" class="btn btn-default"> X </button>
      <h3> Registration Error: </h3>
      <p *ngFor="let e of registererrors">
        {{e}}

      </p>
     
      


    </div>
    <div *ngIf="reg_success" role="alert" class="alert alert-success">
      <h3>Sucessfuly Registered</h3>
      <button (click)="clear_reg_sucess()" > X</button>

    </div>
  </div>
  <div id="login" class="panel panel-default col-sm-6 " align="left" >

      <div class="panel-heading">
          <h1 > Login:</h1>
      </div>
      
      <div class="panel-body">
  
      
        <form >
          <div class="form-group">
          <label for="lusername" class="control-label">Username</label>
          <input type="text" name="usernae"
          [(ngModel)]="loginUser.username"
          class="form-control" id="lusername"
          >
          <label for="lpassword" class="control-label">Password</label>
          <input type="password" name="password"
          [(ngModel)]="loginUser.password"
          class="form-control" id="lpassword"
          >
          <button (click)="login()">Log in!</button>
          </div>
          
        </form>
      </div>
      <div *ngIf="login_errors.length>0" role="alert" class="alert alert-danger">
        <button (click)="clear_login_errors()" class="btn btn-default">X</button>
        <h3> Error: username and password combination does not exist:  </h3>
        
          
      </div>
     

    </div>

  
</div>

  
