<div class="continer-fluid">

  <div id="register" class=" panel panel-default col-sm-6" align="left" >

    <div class="panel-heading">
    <h1>Register:</h1>
    </div>
    <form >
        <div class="form-group" >
          <label for="rusername" class="control-label">Username:</label>
          <input type="text" name="username"
          [(ngModel)]="registerUser.username"
          class="form-control" id="rusername"
          >
        </div>
        <div class="form-group" >

          <label for="remail" class="control-label"> Email:</label>
          <input type="text" name="email"
          [(ngModel)]="registerUser.email"
          class="form-control" id="remail"
          >
        </div>
        <div class="form-group" >
          <label for="rpassword" class="control-label">Password:</label>
          <input type="password" name="password"
          [(ngModel)]="registerUser.password"
          class="form-control" id="rpassword"
          >
        </div>
        <div class="form-group">
          <label for="rpasswordcon" class="control-label">Password Confirm:</label>
          <input type="password" name="passwordcon"
          [(ngModel)]="registerUser.passwordcon"
          class="form-control" id="rpasswordcon"
          > 
        </div>
        <div class="form-group">
          

          <button (click)="register()">register!</button>
        </div>
    </form>
  </div>
  <div id="login" class="panel panel-default col-sm-6 " align="left" >

      <div class="panel-heading">
          <h1 > Login:</h1>
      </div>
      
      <div class="panel-body">
  
      
        <form >
          <div class="form-group">
          <label for="lusername" class="control-label">Username</label>
          <input type="text" name="usernae"
          [(ngModel)]="loginUser.username"
          class="form-control" id="lusername"
          >
          <label for="lpassword" class="control-label">Password</label>
          <input type="password" name="password"
          [(ngModel)]="loginUser.password"
          class="form-control" id="lpassword"
          >
          <button (click)="login()">Log in!</button>
          </div>
          
        </form>
      </div>
    </div>

  
</div>

  
